


.previousheader{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* .milestones > strong{
 padding-left: 10px;
} */

.previoustext{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
};

.tractorytvid{
 padding-top: 50px;
}

.textbox{
  
    padding-top: 60px;
}