



.flexhome{
    display: flex;
    background-color: rgb(167, 181, 176);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    justify-content: center;
    align-items: center;
}

.flexhome > div {
    flex: 50%;
      padding: 10px;
  }

  .flexboxlayout1{
    position: flex;
    flex-wrap: wrap;
    text-align: center;

    background: linear-gradient(rgba(149, 145, 145, 0.495), rgba(255, 255, 255, 0.133)), url('../../assets/tractorracepromo.jpeg');
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    background-size: cover ;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

    .flexboxlayout2{
    position: flex;
    flex-wrap: wrap;
    text-align: center;
    
    background-color: rgb(192, 128, 93) ; 
    width: 500px;
    height: 400px;
    background-size: cover ;
    
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    
}


.flexboxlayout2text{
    padding-top: 50px;
    font-size: 35px;
    color: white;
    text-decoration: none;
  }
  /* .flexboxlayout2text:hover {
    color: rgb(230, 226, 135);
    background-color: transparent;
    text-decoration: underline;
  } */


/* .readmore{
    font-size: 20px;
    font-weight: 500;
} */

.homeflexboxes {
    width: 500px;
}
    

.hometractorheader{
    font-size: 40px;
    font-weight: 600;
    text-align:center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.hometractorinfo{
   padding-left: 40px; 
   padding-right: 40px;
   padding-bottom: 50px;
}

.hometractorinfo > div {
    padding-top: 20px;
}



.flexboxlayout1b{
    position: flex;
    flex-wrap: wrap;
    text-align: center;

    background: linear-gradient(rgba(149, 145, 145, 0.495), rgba(255, 255, 255, 0.133)), url('../../assets/building.jpeg');
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
    background-size: cover ;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

    .flexboxlayout2b{
    position: flex;
    flex-wrap: wrap;
    text-align: center;
    
    background-color: #5d9dc0;   
    width: 500px;
    height: 500px;
    background-size: cover ;
    
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    
}

.flexboxlayout2textb{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }